.git*
.dockerignore
.env.*
*.env
.rubocop*
.solargraph*
.eslintrc.js
.rspec
.vscode
.circleci
.storybook
commitlint.config.js
Procfile.dev
stylelint.config.js
**/node_modules
coverage
app/frontend/stories
app/frontend/tests
config/master.key
config/credentials.yml.enc
public/vite-dev
public/vite-test
log
spec
Procfile.dev
vitest.config.ts
rubocop-*
**/.keep