html, body, #app {
	height: 100%;
}


/* *::selection {
	background-color: var(--mantine-theme-primary-color-2);
} */

.hidden {
	display: 'none';
}

/* .fullHeight {
	display: 'flex';
	flexDirection: 'column';
	height: `calc(100vh - ${theme.other.header.height}px - ${theme.other.footer.height}px - 20px)`;
} */
